
    form {
      border: 2px solid white;
      margin: 20px;
      padding: 40px;
      text-align: left;
      /* background-color: #cdcddd; */
    }
    body{
        margin: 0 auto;
        padding: 0;
    }
    .left {
      width: 50%;
    }
    .right {
      width: 50%;
    }
    .container {
      padding: 30px;
      margin: 0 auto;
      /* margin: 30px; */
      background: blue;
    }

    /* table {
      width: 100%;
      border: 1px solid black;
    } */
    td {
      text-align: center;
      height: 30px;
      border: 1px solid black;
    }
    thead {
      background-color: gray;
      text-align: center;
      height: 30px;
    }

    .btn,
    button {
      display: inline-block;
      background: #0da5a5;
      color: white;
      text-decoration: none;
      padding: 10px 40px;
      cursor: pointer;
      border-radius: 20px;
      margin-bottom: 15px;
      text-align: center;
      border: none;
    }

    label{
      font-weight: 600;
    }
    /* tr{
        background-color: darkgray;
    } */
    tr:nth-child(even) {
      background-color: darkgray;
    }
    td:nth-child(odd) {
      background-color: rgb(201, 198, 198);
    }
    textarea {
      width: 100% !important;
      height: 100px;
      overflow-y: scroll;
    }

    input {
    /* display: block; */
    width: 98%;
    height: 30px;
    /* border: turquoise 2px dashed;
    margin-bottom: 10px;
    padding-left: 10px; */
  }

  /* table {
    width: 100%;
    max-width: 100%;
    
    border-top: 1px solid #14171b;
    border-left: 1px solid #151a1f;
  } */
  select{
    width: 98%;
    height: 30px;
  }

  #resume_builder_header{
    background-color: #0da5a5;
    height: 80px;
    text-align: center;
    color: white;
    display: flex;
    font-size: 20px;
  }
  
    @media screen {
      body {
        background-image: url('/assets/resume/image.jpg');
        background-repeat: no-repeat;
        background-size: cover;
      }
      
    }

    @media (min-width: 400px){
      .head{
       margin-top: 14px;
      }
    }

    #resume_builder_sample{
        text-align: center;
        margin: auto;
    }

    .carousel-inner img {
        width: 100%;
        height: 20%;
      }

      .carousel-inner{
        padding: 65px;
      }
      .head{
        margin-left: 20px;
         margin-top: 14px;
      }
  