
    a {
      color: black;
    }
    .resume {
      padding: 0.375rem 0.75rem;
    }

    .resu {
      border: 2px solid white;
      margin: 20px;
      padding: 40px;
      text-align: left;
      background-color: #cdcddd;
    }

    .jumbotron {
      padding: 20px;
      box-shadow: 0px 0px 4px rgb(103 103 107);
    }
    /* form {
      border: 2px solid white;
      margin: 20px;
      padding: 40px;
      text-align: left;
      background-color: #cdcddd;
    } */
    body {
      margin: 0 auto;
      padding: 0;
    }
    .left {
      width: 50%;
    }
    .right {
      width: 50%;
    }
    .container {
      padding: 30px;
      margin: 0 auto;
    }

    label {
      font-weight: 600;
    }

    td {
      text-align: center;
      height: 30px;
      border: 1px solid black;
    }
    thead {
      background-color: gray;
      text-align: center;
      height: 30px;
    }

    .btn,
    button {
      display: inline-block;
      background: #0da5a5;
      color: white;
      text-decoration: none;
      padding: 10px 40px;
      cursor: pointer;
      border-radius: 20px;
      margin-bottom: 15px;
      text-align: center;
      border: none;
    }

    tr:nth-child(even) {
      background-color: darkgray;
    }
    td:nth-child(odd) {
      background-color: rgb(201, 198, 198);
    }
    textarea {
      width: 100% !important;
      height: 100px;
      overflow-y: scroll;
    }

    input {
      width: 98%;
      height: 30px;
    }

    select {
      width: 98%;
      height: 30px;
    }

    #resume_builder_header {
      background-color: #0da5a5;
      height: 80px;
      text-align: center;
      color: white;
      display: flex;
      font-size: 20px;
    }
    #resume_builder_form {
      padding: 121px;
    }
    @media screen {
      body {
        background-image: url("/assets/resume/image.jpg");
        background-repeat: no-repeat;
        background-size: cover;
      }

      #resume_builder_form {
        padding: 0;
      }

      #resume_builder_parent{
      padding: 22px;
      }
    }

    @media (min-width: 400px) {
      .head {
        margin-top: 14px;
      }
    }

    #resume_builder_sample {
      text-align: center;
      margin: auto;
    }

    .carousel-inner img {
      width: 100%;
      height: 20%;
    }

    .carousel-inner {
      padding: 65px;
    }
    .head {
      margin-left: 20px;
      margin-top: 14px;
    }
    .skil-item{
      margin: 5px;
    padding: 3px;
    background-color: #c5d4ed4a;
    border-radius: 6px;
    }
  